body {
	background: url(/imgs/longinIndex.jpg) no-repeat fixed 0;
	background-size: cover;
}

.login-box {
	width: 436px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translateX(-50%) translateY(-50%);
	padding: 45px 15px 15px;
	background: rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
}
.sectionCommon {
  width: 300px;
  height: 500px;
  float: left;
  background: #e7e7e7;
}
